<%- include ('../partials/header') %>




<div class="container">
    <div class="jumbotron">
        <h1 style="text-align: center;"></h1>
        <div style="width: 90%; margin: 40px auto;">



            <form action="/stock/<%= stock_id %>/stockUpdate/<%=stockItems._id%>?_method=PUT" method="POST">



                <h5>Container :</h5>

                <% items.measures.forEach((measure) => { %>
                <div class="form-check">
                    <input class="form-check-input" type="radio"
                        <%  if (measure.name + "(kg" + ">" + measure.weight + "<)" == stockItems.storingUnit) { %>
                        checked <% } %> value="<%= measure.name + "(kg" + ">" + measure.weight + "<)"%>"
                        name='stock[storingUnit]' id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        <%=measure.name%>
                    </label>
                </div>

                //
                <div class="form-row">
                    <div class="col-md-6">
                        <h5>Container :</h5>

                        <% stock.measures.forEach((measure) => { %>

                        <div class="form-check btn-group btn-group-toggle" data-toggle="buttons"
                            <%  if (measure.name + "(kg" + ">" + measure.weight + "<)" == stockItems.storingUnit) { %>
                            style="padding-left: 0px;">

                            <label class="btn btn-secondary">
                                <input class="form-check-input" type="radio"
                                    value="<%= measure.name + "(kg" + ">" + measure.weight + "<)"%>"
                                    name='stock[storingUnit]'>
                                <%=measure.name%>
                            </label>
                        </div>



                        <% }) %>
                    </div>
                    <div class="col-md-6">
                        <h5>Location :</h5>

                        <div class="form-group" id="chuj">
                            <input class="form-control" type="text" name='stock[location]' placeholder="Location">
                        </div>
                    </div>
                </div>


                <% }) %>
                <hr class=" my-4">
                <h5>Stock Level in a Container ( from 1 to 10 ) :</h5>

                <div class="form-group">
                    <input class="form-control" type="text" name='stock[volume]'
                        placeholder="use numbers only! - 1 : VERY LOW , 5 - HALF , 10 - FULL" min="0" max="10"
                        step="0.5" value='<%= stockItems.volume%>'>
                </div>
                <h5>Location :</h5>

                <div class="form-group">
                    <input class="form-control" type="text" name='stock[location]' placeholder="Location"
                        value="<%=stockItems.location%>">
                </div>

                <div class="form-group hiddenForms">
                    <input class="form-control" type="text" name='stock[action]' value="<%= stockItems.volume%>">
                </div>

                <div id="progress-bar-div">

                    <progress id="progressBar" value="<%= stockItems.volume%>" max="1"></progress>


                </div>

                <div class="form-group slider-wrapper">
                    <input id="progress-input" class="form-control" type="text" orient="vertical" name='stock[volume]'
                        min="0" max="10" step="0.5" value="10">
                </div>


                <div class="form-group">
                    <button class="btn btn-lg btn-default btn-block btn-primary">Submit!</button>
                </div>
            </form>
            <a href="/stock">Go Back</a>

        </div>
    </div>




    <%- include('../partials/footer') %>