<%- include ('../partials/header') %>




<div class="container">
    <div class="jumbotron">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th class="locationTable table-dark table-location-title" colspan="3">
                        UPDATE
                    </th>
                </tr>
            </thead>
        </table>
        <div style="width: 90%; margin: 40px auto;">

            <form action="/stock/<%= stock_id %>/stockUpdate/<%=stockItems._id%>?_method=PUT" method="POST">


                <div class="form-row">
                    <div class="col-md-6">
                        <h5>Container :</h5>
                        <% items.measures.forEach((measure) => { %>

                        <div class="form-check btn-group btn-group-toggle" data-toggle="buttons"
                            style="padding-left: 0px;">

                            <label class="btn btn-secondary">
                                <input class="form-check-input" type="radio"
                                    <%  if (measure.name + "(kg" + ">" + measure.weight + "<)" == stockItems.storingUnit) { %>
                                    checked <% } %> value="<%= measure.name + "(kg" + ">" + measure.weight + "<)"%>"
                                    name='stock[storingUnit]'>
                                <%=measure.name%>
                            </label>
                        </div>
                        <% }) %>

                    </div>


                    <div class="col-md-6">
                        <h5>Location :</h5>

                        <div class="form-group" id="chuj">
                            <input class="form-control" type="text" name='stock[location]' placeholder="Location"
                                value="<%=stockItems.location%>">
                        </div>
                    </div>
                </div>

                <hr class=" my-4">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="locationTable table-location-title" colspan="3">
                                LEVEL
                            </th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th scope="col" class="stockTHStoring">
                                <div id="progress-bar-div">
                                    <div class="progress" id="progressBar" style="height: 300px;">
                                        <div class="progress-bar progress-bar-striped bg-success progress-bar-animated"
                                            id="progress-display" role="progressbar"
                                            style="width: <%= stockItems.volume * 10%>%; z-index: -1;" aria-valuemin="0"
                                            aria-valuemax="10">
                                            <span class="innerVal"><%= stockItems.volume%></span>
                                        </div>
                                    </div>
                                </div>
                            </th>

                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th>
                                <div class="form-group slider-wrapper">
                                    <input id="progress-input" class="form-control" type="range" name='stock[volume]'
                                        min="0.1" max="10" step="0.1" value='<%= stockItems.volume%>'>
                                </div>
                            </th>
                        </tr>
                    </thead>
                </table>


                <div class="form-group hiddenForms">
                    <input class="form-control" type="text" name='stock[action]' value="update">
                </div>


                <div class="form-group">
                    <button class="btn btn-lg btn-default btn-block btn-success submitBtns"
                        style="margin-top: 25px;">Submit!</button>
                </div>

            </form>
            <a href="/stock">Go Back</a>

        </div>
    </div>


    <script src='/JS/progress.js'></script>

    <%- include('../partials/footer') %>