<%- include ('../partials/header') %>


<div class="container">
    <div class="jumbotron">
        <table class="table table-dark table-striped text-white table-borderless">
            <thead>
                <tr>
                    <th class="locationTable table-dark table-location-title" colspan="3">
                        UPDATE
                    </th>
                </tr>
            </thead>
        </table>
        <div class="text-white" style="width: 90%; margin: 40px auto;">

            <form action="/stock/<%= stock_id %>/stockUpdate/<%=stockItems._id%>?_method=PUT" method="POST">
                <div class="form-row">
                    <div class="col-md-6">
                        <h5>Container :</h5>
                        <%console.log(stockItems)%>
                        <div class="form-check btn-group btn-group-toggle" data-toggle="buttons"
                            style="padding-left: 0px;">

                            <label class="btn btn-secondary">
                                <input class="form-check-input measureButtons" type="radio"
                                    value="<%=stockItems.storingUnit%>" name='stock[storingUnit]'
                                    data-volumeType="<%=stockItems.volumeType%>" checked>
                                <%=stockItems.storingUnit%>
                            </label>
                        </div>


                    </div>


                    <div class="col-md-6">
                        <h5>Location :</h5>

                        <div class="form-group">
                            <input class="form-control" type="text" name='stock[location]' placeholder="Location"
                                value="<%=stockItems.location%>">
                        </div>
                    </div>
                </div>

                <hr class=" my-4">
                <!-- logic for box or weighted items -->
                <div id="addNewItemForm">
                    <table class="table table-striped hiddenForms text-white table-borderless"
                        id="boxedAndWeightedItemsADD">

                        <thead>
                            <tr>
                                <th class="locationTable  table-location-title" colspan="3">
                                    How full is the box / container ?
                                </th>
                            </tr>
                        </thead>
                        <thead class="">
                            <tr>
                                <th scope="col" class="stockTHStoring">
                                    <div id="progress-bar-div">
                                        <div class="progress" id="progressBar" style="height: 300px;">
                                            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated"
                                                id="progress-display" role="progressbar"
                                                style="width: <%= stockItems.volume * 10%>%; z-index:-1;"
                                                aria-valuemin="0" aria-valuemax="10">
                                                <span class="innerVal"><%= stockItems.volume%></span>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th>
                                    <input class="form-control form-control-lg volumeValueManual" min="0.1" max="10"
                                        step="0.1" value='<%= stockItems.volume%>' id="" type="number"
                                        placeholder="Use slider or enter number manually" style="text-align: center;">
                                </th>
                            </tr>
                        </thead>

                        <thead>
                            <tr>
                                <th>
                                    <div class=" form-group slider-wrapper">
                                        <input class="form-control progress-input" type="range" name='stock[volume]'
                                            min="0.1" max="10" step="0.1" value='<%= stockItems.volume%>'>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <!-- add default count method -->

                        <input class="hiddenForms" id="boxORweight" name='stock[countMethod]' value='boxORweight'>

                        <input class="hiddenForms" id="boxORweightVolumeType" name='stock[volumeType]' value=''>

                    </table>

                    <!-- logic for single items only -->

                    <table class="table table-striped hiddenForms text-white table-borderless" id="singleItemsADD"">

                    <thead>
                        <tr>
                            <th class=" locationTable table-location-title" colspan="3">
                        LEVEL
                        </th>
                        </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th>
                                    <input class="form-control form-control-lg progress-input-single-slider" min="1"
                                        max="<%= stockItems.volume%>" step="1" value='<%= stockItems.volume%>'
                                        type="number" placeholder="Use slider or enter number manually"
                                        style="text-align: center;">
                                </th>
                            </tr>
                        </thead>

                        <thead>
                            <tr>
                                <th>
                                    <div class=" form-group slider-wrapper">
                                        <input class="form-control progress-input-single" id="singleItemRange"
                                            type="range" name='stock[volume]' min="1" max="<%= stockItems.volume%>"
                                            step="1" value='<%= stockItems.volume%>'>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <!-- add default count method -->
                        <tbody>
                            <tr>
                                <th>
                                    <input class="hiddenForms" id="singleItem" name='stock[countMethod]'
                                        value='singleItem'>
                                </th>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <th>
                                    <input class="hiddenForms" id="singleItemVolumeType" name='stock[volumeType]'
                                        value='singleItem'>
                                </th>
                            </tr>
                        </tbody>

                    </table>


                    <div class="form-group hiddenForms">
                        <input class="form-control" type="text" name='stock[action]' value="update">
                    </div>


                    <div class="form-group">
                        <button class="btn btn-lg btn-default btn-block btn-success submitBtns"
                            style="margin-top: 25px;">Submit!</button>
                    </div>

            </form>
            <a href="/stock">Go Back</a>

        </div>
    </div>

    <script src='/JS/containerCreate.js'></script>
    <script src='/JS/containerCreate.js'></script>
    <script src='/JS/progress.js'></script>

    <%- include('../partials/footer') %>