<%- include ('../partials/header') %>


<div class="container">
	<div class="jumbotron">
		<h2 class="display-4">Stock</h2>

		<hr class="my-4">
		<h4>COOKED</h4>
		<% stock.forEach((stock) => { %>

		<% if ( stock.category === "Cooked") { %>

		<a href="/stock/<%= stock._id %>" class="btn btn-secondary btn-lg"
			style="width: 100%; margin:10px"><%= stock.name%></a>

		<% } %>
		<% }) %>
		<hr class="my-4">
		<h4>FRESH</h4>
		<% stock.forEach((stock) => { %>

		<% if ( stock.category === "Fresh") { %>

		<a href="/stock/<%= stock._id %>" class="btn btn-secondary btn-lg"
			style="width: 100%; margin-top:20px"><%= stock.name%></a>

		<% } %>
		<% }) %>

		<hr class="my-4">
		<h4>PACKAGING</h4>
		<% stock.forEach((stock) => { %>

		<% if ( stock.category === "Packaging") { %>

		<a href="/stock/<%= stock._id %>" class="btn btn-secondary btn-lg"
			style="width: 100%; margin-top:20px"><%= stock.name%></a>

		<% } %>
		<% }) %>
		<hr class="my-4">
		<p class="lead">
			<a href="/stock/new" class="btn btn-large btn-warning btn-block">ADD NEW STOCK ITEM</a>
		</p>
		<hr class="my-4">
		<a href="<%=/home/%>" class="btn btn-secondary btn-block">Go Back</a>
	</div>
</div>




<%- include('../partials/footer') %>