<%- include ('../partials/header') %>


<div class="container">
	<div class="jumbotron">
		<table class="table table-striped text-white">
			<thead>
				<tr>
					<th class="locationTable table-location-title" colspan="3">
						COOKED
					</th>
				</tr>
			</thead>
		</table>
		<div class="row stockRows">
			<div class="col-lg-12">
				<p>
					<% stock.forEach((stock) => { %>

					<% if ( stock.category === "Cooked" && stock.author.username == currentUser.username) { %>

					<a href="/stock/<%= stock._id %>" class="btn btn-sq btn-outline-info">
						<span style="font-size: 40px;"><%= stock.icon %></span><br />
						<%= stock.name%> <br>
					</a>

					<% } %>
					<% }) %>
				</p>
			</div>
		</div>

		<table class="table table-striped text-white">


			<thead>
				<tr>
					<th class="locationTable k table-location-title" colspan="3">
						FRESH
					</th>
				</tr>
			</thead>
		</table>
		<div class="row stockRows">
			<div class="col-lg-12">
				<p>
					<% stock.forEach((stock) => { %>

					<% if ( stock.category === "Fresh" && stock.author.username == currentUser.username) { %>

					<a href="/stock/<%= stock._id %>" class="btn btn-sq btn-outline-success">
						<span style="font-size: 40px;"><%= stock.icon %></span><br />
						<%= stock.name%> <br>
					</a>

					<% } %>
					<% }) %>
				</p>
			</div>
		</div>


		<table class="table table-striped text-white">


			<thead>
				<tr>
					<th class="locationTable  table-location-title" colspan="3">
						PACKAGING
					</th>
				</tr>
			</thead>
		</table>
		<div class="row stockRows">
			<div class="col-lg-12">
				<p>
					<% stock.forEach((stock) => { %>

					<% if ( stock.category === "Packaging" && stock.author.username == currentUser.username) { %>

					<a href="/stock/<%= stock._id %>" class="btn btn-sq btn-outline-secondary">
						<span style="font-size: 40px;"><%= stock.icon %></span><br />
						<%= stock.name%> <br>
					</a>

					<% } %>
					<% }) %>
				</p>
			</div>
		</div>
		<hr class="my-4">
		<p class="lead">
			<a href="/stock/new" class="btn btn-large btn-warning btn-block">ADD NEW STOCK ITEM</a>
		</p>
		<hr class="my-4">
		<a href="<%=/home/%>" class="btn btn-outline-secondary btn-block">Go Back</a>
	</div>
</div>




<%- include('../partials/footer') %>