<%- include ('../partials/header') %>


<div class="container">
  <div class="jumbotron">
    <h2 class="display-4"><%= stock.name %></h2>
    <a href="/stock/<%= stock._id %>/stockUpdate/new" class="btn btn-lg btn-info btn-block">ADD NEW STOCK</a>



    <hr class="my-4">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Currently you've:

            <% let total = 0; %>
            <% for (let i = 0; i < stock.stockTake.length; i++) { %>

            <% total+= Number(stock.measures.find(measure=> measure.name === stock.stockTake[i].storingUnit).weight /stock.stockTake[i].volume) %>
            <% } %>
            <%= total.toFixed(2) %> kg of <%= stock.name %>

          </th>

        </tr>
      </thead>

    </table>
    <h5>OF WHICH:</h5>




    <% stock.stockTake.forEach(collection => { %>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th class="locationTable bg-info" colspan="3"><%=collection.location || 'LOCATION UNASSIGNED' %></th>
        </tr>
      </thead>


      <thead>
        <tr>
          <th scope="col" class="stockTHStoring">Storing Unit:</th>
          <th scope="col" class="stockTHWeight">Approximate weight:</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>

        <% stock.stockTake .forEach((item, i) => { %>

        <% if (item.location === collection.location) { %>
        <tr>
          <th scope="col" class="stockTHStoring"> <%= item.storingUnit %> </th>
          <th scope="col" class="stockTHWeight">
            <%= (stock.measures.find(measure=> measure.name === item.storingUnit).weight / item.volume).toFixed(2) %> kg
          </th>

          <th scope="col" class="currentStockButtons"> <a href="/stock/<%= stock._id %>/stockUpdate/<%=item._id%>/edit"
              class=" btn  btn-success updateBtn">UPDATE</a>

            <form action="" method=" POST">
              <button class="btn  btn-warning ">MARK AS SOLD</button>
            </form>
            <form action="" method="POST">
              <button class="btn  btn-danger ">MARK AS WASTE</button>
            </form>

          </th>
        </tr>
        <% } %>
        <% });	%>

        <% }); %>


      </tbody>
    </table>

    <hr class="my-4">
    <hr class="my-4">
    <h5>ADD/EDIT STORAGE UNITS:</h5>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Storing Unit:</th>
          <th scope="col">Approximate weight:</th>
          <th><a href="/stock/<%= stock._id %>/measures/new" class="btn btn-xs btn-success btn-block" style="">Add
              New</a></th>
        </tr>
      </thead>
      <tbody>
        <% stock.measures.forEach((measure) => { %>
        <tr>
          <th scope="col"> <%= measure.name %> </th>
          <th scope="col"> <%= measure.weight %> </th>
          <th><a href="/stock/<%= stock._id %>/measures/<%= measure._id %>/edit"
              class="btn btn-xs btn-warning btn-block">Edit</a>
            <form action="/stock/<%= stock._id %>/measures/<%= measure._id %>?_method=DELETE" method="POST">
              <button class="btn btn-xs btn-danger btn-block">Delete</button>
            </form>
          </th>
        </tr>

        <% });	%>


      </tbody>
    </table>
    <hr class="my-4">
    <div class="buttons">
      <a href="/stock/<%= stock._id %>/edit" class="btn btn-xs btn-warning"> Edit</a>
      <form action="/stock/<%= stock._id %>?_method=DELETE" method="POST">
        <button class="btn btn-xs btn-danger">Delete</button>
      </form>

    </div>

  </div>

  <a href="<%=/stock/%>" class="btn btn-secondary btn-block">Go Back</a>
</div>




<%- include('../partials/footer') %>